/*colores:
fondo : lightgray;
contenedor : gray;
articulos:#ccc;
*/

*{
	margin:0;
}

body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    img{
    	margin-left:220px;
    	margin-right:70px;
    	margin-bottom:10px;
    	margin-top: 10px;
    	width:20%;
    }


    #box{
    	outline-color: red;
    	color:red;

    }
    #think{
    margin-left:0px;


    }


    #destacadas{
    	margin-left: 110px;
    	margin-right: 90px;
    	width:100px;
    	height:100px;

    } 
    #unico{
    	color: beige;
    }
     fieldset{
     width: 500px;
     margin-top:90px; 

}
h1{
color:blue;
margin-top:50px;
}
h2{
	color:blue;
	
}

header{
	display:inline-block;
	padding:30px;
}
nav ul{
	background-color:rgba(0, 0, 0, 0.3);
	font-size:0;
	padding:0px;
	margin-left:200px;
	margin-right:100px;
	height: 50px;
	max-width: 950px;
}
nav ul li{
	
	display:inline-block;
	font-size:16px;
	padding:10px;
	height:50px;
	text-align:center;
	vertical-align: top;
	width:25%;
}
nav ul li:hover{
	background:rgba(0,0,0,.3);
}
nav ul li a{
	color:white;
	text-transform:uppercase;
}
nav ul li img{
	height:auto;
	width:80%;
}
#contenedor{
	background-color:rgba(0, 0, 0, 0.4);
	margin:0 auto;
	max-width:950px;

	height: 0 auto;
}
#webs{
	background-color:rgba(0, 0, 0, 0.4);
	padding:50px;
	text-align:center;
	max-width: 900px;
}
#webs article{
	background:#ccc;
	border:5px solid white;
	color:black;
	display:inline-block;
	margin:30px;
	padding:1px;
	width:300px;
}
#webs article img{
	-webkit-transition:.2s;
	-moz-transition:.2s;
}
#webs article:hover img{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
}
.avatar,.personal{
	float:left;
}
.avatar{
	border:5px solid white;
	margin-left:20px;
}

@media screen and (max-width:480px){
	nav ul li {
		width:50%;
	}
	header{
		display:block;
		text-align:center;
		width:auto;
	}
	.avatar,.personal{
		float:none;
	}
	.avatar{
		display:inline-block;
		margin:10px 0;
	}
		}
a:link{
	color:white; 
}
a:visited{
    color:red;
}
a:hover{
    color:orange;
}
a:active{
    color:purple;
}
legend{
	font-weight: 700;
	height: 30px;
}
label{
	color:beige;
	font-family:times;
}
input{
    border:none;
    padding:4px;
    margin-left: 15px;
    margin-top: 15px;
    }
    #portafolio{
    	padding-right:100px;
    }
    #contacto{
    	padding-right:350px;
    }
#form{
margin-bottom:30px;
margin-top:50px;
font-family:times;
padding-bottom: 0px;
}

#p5{
	padding-right: 500px;
}


textarea{
   background-color: beige;
    border: none;
    padding-right:300px;
    padding-bottom: 100px;
    font-style: oblique;
}
